[
  { rabbit,
    [
      { loopback_users, [] },
      { heartbeat, 300 },
      { vm_memory_high_watermark, 1 },
      { tcp_listen_options, [ { backlog, 4096 },
                              { nodelay, true },
                              { linger, {true,0} },
                              { exit_on_close, false }
                           ]
      }
    ]
  }
].
